ENV=development
APP_NAME="pdf-2-brainrot"
PORT=8000
RATE_LIMIT_PER_DAY=10

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

GEMINI_API_KEY=
BRAINROT_PROMPT="Summarize the following sentences into 130-160 words. If the content exceeds one minute of speaking, condense it to stay close to the one-minute mark. Add brainrotted words like 'skibid,' 'Ohio,' 'rizz,' 'fanum tax,' etc., while keeping the overall tone casual but not childish. Limit the use of brainrotted words to one per every 2-3 sentences. Do not include any text other than the summarization."